<th:block th:include="/part/basic-head"/>


그룹화면

<div id="app">

    <table>
        <tr>
            <th>GID</th>
            <th>이름</th>
            <th>ㅁㄴㅇㄹ</th>
        </tr>
        <tr :key="node.gidNumber" v-for="node in groups">
            <td>{{node.gidNumber}}</td>
            <td>{{node.cn}}</td>
            <td>111</td>
        </tr>
    </table>

</div>

<script type="application/javascript" th:inline="javascript">
var app = new Vue({
    el: '#app',
    data: {
        groups: [[${groups}]]
    }
});
</script>

<th:block th:include="/part/basic-tail"/>