<th:block th:include="/part/html-head"/>

<div class="doc-mold">
    <div id="nav">
        <div class="mark">
            <b>LDAP</b>
            <span>J</span>ust
            <span>U</span>ser
            <span>M</span>anagement
        </div>
        <div class="menu">
            <a href="/">
                <img src="/ldap/icons/dashboard.svg" alt="" />
                <span>Dashboard</span>
            </a>
            <a href="/group/">
                <img src="/ldap/icons/group.svg" alt="" />
                <span>Group</span>
            </a>
            <a href="/user/">
                <img src="/ldap/icons/user.svg" alt="" />
                <span>User</span>
            </a>
        </div>
    </div>
</div>
<div class="doc-mold">
    <div id="doc">
