<th:block th:include="/part/html-head"/>

<style type="text/css">
html { height: 100%; }
body {
    background-color: #DADADA;
}
body > .grid {
    height: 100%;
}
.image {
    margin-top: -100px;
}
.column {
    max-width: 450px;
}
label.label.fix { width:88px; }
.warning { position: fixed; top: 0; left: 0; right: 0; line-height: 2; padding:8px 0; font-size: 18px; font-weight: bold; background: #fffcd9; color: #6f363b }
[v-cloak] { display: none !important; }
</style>

<div id="app" class="ui middle aligned center aligned grid" v-cloak>
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">
                LDAP SUM
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui labeled input">
                        <label class="ui label fix">host</label>
                        <input type="text" name="host" placeholder="ex) 192.168.0.1" v-model="conf.host">
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <label class="ui label fix">port</label>
                        <input type="text" name="port" placeholder="port" v-model="conf.port">
                    </div>
                </div>
                <div class="field">
                        <div class="ui labeled input">
                            <label class="ui label fix">bind dn</label>
                            <input type="text" name="admin-dn" placeholder="ex) cn=admin,dc=saro,dc=me" v-model="conf.admDn">
                        </div>
                    </div>
                <div class="field">
                    <div class="ui labeled input">
                        <label class="ui label fix">password</label>
                        <input type="password" name="admin-dn-pw" placeholder="bind dn password" v-model="conf.admDnPw">
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <label class="ui label fix">base dn</label>
                        <input type="text" name="base-dn" placeholder="ex) dc=saro,dc=me" v-model="conf.baseDn">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">
                    {{ status == 'NOT_INSTALLED' ? 'install' : 'modify connection information' }}
                </div>
            </div>
        
            <div class="ui error message"></div>

            <div class="warning" v-if="status == 'CONNECTION_FAILURE'">
                ldap sum is installed!! but connection fail
            </div>
        </form>

    </div>
</div>

<script type="application/javascript" th:inline="javascript">
var app = new Vue({
    el: '#app',
    data: {
        status : [[${status}]],
        conf : {
            host : '',
            port : '389',
            admDn : '',
            admDnPw : '',
            baseDn : ''
        }
    }
});
</script>

<th:block th:include="/part/html-tail"/>